*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background-color: #dfe9f5;
    margin-left: 0px;
    font-family: Rubik;
}
.bigbox{
    height: 100%;
    width: 100%;
    display: flex; 
}
.left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    width: 20%;
    text-decoration: none;
    list-style: none; 
    bottom: 0;
}
li{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 20%;
}
.Mydash{
    margin-top: 0;
    padding: 10px 30px;
    font-weight: bold;
} 
.logout{
    display: flex;
    justify-content: center;
    margin-top: 220px;
    color: rgb(59, 59, 224);
    background-color: rgb(32, 190, 218);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
.right{ 
    margin-left: 20px;
    width: 80%;
}
.one{
    background: red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.right-upper{
    display:flex
}
.right h4{
    padding: 5px;
}
.Web-development{
    background-color: #fff;
   grid-gap: 1.5em;
    margin: 0.5em;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}
.Web-inside span{
    font-weight: bold;
}
.Web-inside p{
    margin-top: 10px;
}
.Web-inside{
    padding: 1em;
}
.hash p{
    font-size: 30px;
    font-weight: bold;
}
.button{
    margin-bottom: 1em;
    border-radius: 5px;
    padding: .2em;
    background-color: orangered;
    color: #fff;
    
}
.button:hover{
    color: black;
    cursor: pointer;
    
    outline: none;
    font-size: 15px;
}

.options{
    background-color: #fff; 
    border-radius: 10px;
    padding: 12px;
    margin-top: 6px;
}
.options-word{
    display: flex;
    margin-bottom: 10px;
}
.options-word p{
    margin-right: 20px;
}
.options-word p:hover{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.languages{
    display: flex;
    border-radius: 10px;   
}
.html{
    margin-right: 20px;
    background-color: rgba(245, 242, 242, 0.932);
    border-radius: 10px;
    padding: 0px 60px 0px 10px;
    width: 300px;
    
}
.html p:nth-child(2){
    margin-bottom: 3em;
}
.btn{
    border-radius: 5px;
    color: #fff;
    background-color: black;
    margin-bottom: 10px;
    padding: 2px;
}
.btn:hover{
    cursor: pointer;
    color: olive;
}
.html p:nth-child(1){
    font-weight: bold;
    font-size: larger;
    margin-top: 8px;
}